<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Give us all of your Grandmother's Best Recipes... or else</title>
  </head>
  <body>
    <form action="/recipes" method="POST">
      <p>Recipe Name: <input type="text" name="recipe[name]" value="recipe"></p>
      <p>Ingredients: <input type="text" name="recipe[ingredients]" value="ingredients"></p>
      <p>Cook Time: <input type="text" name="recipe[cook_time]" value="cook_time"></p>
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
